./React_/node_modules
./React_/package-lock.json

./Redux/node_modules
./Redux/package-lock.json

./Weather project/node_modules
./Weather project/package-lock.json

./Blogs app/node_modules
./Blogs app/package-lock.json